.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: #343a40;
  color: #fff;
  padding: 15px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

.nav a:hover {
  color: #f8f9fa;
}
